h1{
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    background-color: burlywood;
    border-radius: 10px;
    padding: 10px;
    /* width: 50%; */
    
    
    
}
div{
    background-color: tomato;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-family: sans-serif;
    /* width: 50%; */
    /* border-color: rgb(151, 91, 12); */
}
h3{
    text-align: center;
}
ul{
    font-weight: bold;
}
img{
    height: 300px;
    width: 300px;
    padding: 20px;
    margin: 10px;
    /* border-radius: 10px; */
}
.repo{
    background-color: bisque;
    width: 50%;
    
}